.idea

*.iml

target

*logs

.clover

mybatis-generator.xml
mybatis-generator-core-*.jar

**/resources/static/**

**/resources/node/**

*node_modules*

*npm-debug.log*

platform/tmp/**

**/package-lock.json
**/mock-data.js
